body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    color: #333;
}
#navigacijska {
    background-color: #4CAF50;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#navigacijska ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#navigacijska .item {
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1.2rem;
}

#navigacijska .item:hover {
    background-color: #45a049;
    border-radius: 5px;
}

#container{
    display: grid;
    grid-template-areas:
    " a"
    " c"
    " b ";
    grid-template-rows:10% 10% 80%;
    color: #333;
    text-align: center;
   

}
#navigacijska{
    grid-area: a;
    background-color: #45a049;
}
#box{
   font-size: 25px;
    grid-area: b;
    width: 100%;
}
#inf{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}
#infiteh{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}
#baze{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}
#srednja{
    grid-area: c;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    display: grid;
    grid-template-areas:
    " a b c";
    grid-template-rows:auto auto auto;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;

}
#stat{
    grid-area: a;
    padding-left: 15px;

}
#up{
    grid-area: c;
    flex: 1;
    margin: 5px;
    padding: 15px;
    text-align: center; 
    border: none;
}

#up:hover{
    text-decoration: underline;
}
table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 15px;
    letter-spacing: 1px;
}

th {
    background-color: #7298c1;
    color: white;
}

td {
    background-color: #f9f9f9;
}

td:first-child, th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

td:last-child, th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.pretrazivac {
    display: flex;
    align-items: center;
}

.search-wrapper {
    position: relative;
}

.search-wrapper input {
    padding: 5px 10px;
    border: 2px solid #7298c1;
    border-radius: 24px;
    height: 30px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-wrapper i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #7298c1;
}

.naslov {
    font-size: 2rem;
    color: #333;
    margin-left: 20px;

}
.lazninav{
   display: flex;
   justify-content: space-between;
}

